#loginButton{
	position: relative;
   	margin-right: 50px;
   	float:right;

}

#easterEggContainer{
	position:relative;
	display:none;
}

#easterEgg{
	position:absolute;
	z-index:700;
}

#Content{
	position:relative;
	padding-left:1%;
	width:98%;
}

.menu{
	width:100%;
}

.bx-wrapper{
	width:99%;
}

.carouselImage{
	width:550px ;
	height:400px;
}

#productThumbnails{
	text-align:center;

}
#mainThumbnail {
		padding-left: 20%;
    margin:auto;
}
.productCaption{
	background-color: transparent !important;
	border:none !important;
	text-align: center;
	display:block !important;

}


/* -------------- Products page ------------------- */
#filterDiv{
	border: solid;
	height: 200px;
	width: 300px;
}

.green {
	color:green !important;
}

.red{
	color:red !important;
}

.quantityContolButtons{
	background-color: transparent;
	border:none;
}
.glyphicon.glyphicon-minus-sign {
    font-size: 30px;
}
.glyphicon.glyphicon-plus-sign {
    font-size: 30px;
}

.quantityWidth{
	width:50px;
}

.centerText{
	text-align: center;
}

.decItem, .incItem{
	background-color: transparent !important;
	border:none !important;
	text-align: center;

}

.addToBasketButton{
	margin-left:25%;
}


/* -------- carousel ------------- */
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



.carousel-inner{
	height:350px;
}
.carousel-inner .item {
    height: 350px;
}


.carousel,{
	height:450px;
}

li.active{
	background-color: black;
}
