@(create_item: Form[Stock])

@import helper._

@main("test") {

<h1>Add a product</h1>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
        @helper.form(action = routes.Application.save() ){
            <div class="row">
            @helper.inputText(create_item("stock_id"))
            </div>
            <div class="row">
                <div class="col-xs-12">
                @helper.inputText(create_item("category_id"))
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                @helper.inputText(create_item("name"))
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                @helper.inputText(create_item("total_stock"))
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                @helper.inputText(create_item("unit_price"))
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                 <input type="submit" value="Create New Item" class="btn primary">
                </div>
            </div>
        }
        </div>
    </div>
<div class="container">

</div>

}
