@(create_item: Form[Stock])

@import helper._

@main("test") {

<h1>Add a product</h1>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <p><a class="btn btn-primary btn-lg" href="/" role="button"></a></p>
  </div>
</div>

<div class="container">
@helper.form(action = routes.Application.save() ){
    @helper.inputText(create_item("stock_id"),'_label -> "Stock ID", '_help -> "")
    @helper.inputText(create_item("category_id"),'_label -> "Category ID", '_help -> "")
    @helper.inputText(create_item("name"),'_label -> "Name", '_help -> "")
    @helper.inputText(create_item("total_stock"),'_label -> "Total Stock", '_help -> "")
    @helper.inputText(create_item("unit_price"),'_label -> "Price", '_help -> "")
    <input type="submit" value="Create New Item" class="btn primary">   
}

</div>

}
