@(products: String)

@main("List of all products pages.") {
  <ol class="breadcrumb breadCrumbStyle">
    <li><a href="/">Home</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ol>

<br>


<h1>Frequently Asked Questions.</h1>

  <p>This is a brief list of our most frequesntly asked questions, if you cannot find the answer you are looking for please contact us using the live chat found in the bottom right corner.</p>

    <h3 data-toggle="collapse" data-target="#q1">How will my product be delivered?</h3>
     <div id="q1" class="collapse">
     Items are delivered directly from our distribution centre and dispatched via DPD.
     </div>

    <h3 data-toggle="collapse" data-target="#q2">How do I track my order?</h3>
     <div id="q2" class="collapse">
     You can track your order by visiting our DPD's Track It page <a href="http://www.dpd.co.uk/"> here </a>.
     </div>

    <h3 data-toggle="collapse" data-target="#q3">How do I return an unwanted product?</h3>
     <div id="q3" class="collapse">
     We understand that sometimes you may change your mind about a purchase. You can return unwanted items to store,
     by phone, or online following the instructions on your paperwork.
     </div>

    <h3 data-toggle="collapse" data-target="#q4">I have a faulty product that is in warranty. What can I do?</h3>
     <div id="q4" class="collapse">
     We will always help you out if your product develops a fault while under warranty. For assistance, you can contact us either by phone
     or instore and our colleagues in store will check your product and, depending on the manufacturer’s warranty policy,
     will either book your product in for repair or provide you with a replacement.
     </div>


    <h3 data-toggle="collapse" data-target="#q5">I have a faulty product that is not in warranty. What can I do?</h3>
     <div id="q5" class="collapse">
     We will always do our best to help you with a faulty product when it is out of warranty, however we may not be able to replace your product.
     For assistance, you can contact us either by phone or instore and we will check your product and assess the possibility of
     repair or replacement.
     </div>




}
