@(products: String)

@main("List of all products pages.") {
  <ol class="breadcrumb breadCrumbStyle">
    <li><a href="/">Home</a></li>
    <li><a href="/gnomes">Gnomes</a></li>
  </ol>


<h1 class="centerText">Gnomes</h1>

<div id="gnomeContainer">
  <div class="row gnomeContainer" id ="mainThumbnail">
    <div class="col-sm-4 col-md-3 gnomePageImage">
      <div class="thumbnail">
        <img id="gnome-1" src="@routes.Assets.versioned("images/gnome.png")"/>
        <p class="centerText">Magical Gnome - <span class="price">£5.00</span></p>
        <div class="caption productCaption">
          <button type="button" class="btn decItem" id="dec1" itemNumber="1"><span class="glyphicon glyphicon-minus-sign red"></span></button>
          <input type="text" class="quantityWidth centerText" id="quantityItem1" value ="0">
          <button type="button" class="btn incItem" id = "inc1" itemNumber="1"><span class="glyphicon glyphicon-plus-sign green"></span></button>
        </div>
        <div>
          <button type="button" class="btn btn-success addToBasketButton" id = "addToBasket1" itemNumber="1" itemType="gnome" unitPrice="5" imagePath="@routes.Assets.versioned("images/gnome-small.png")")>Add To Basket</button>
        </div>
      </div>
    </div>
  </div>
</div>

}
