@(products: String)

@main("List of all products pages.") {
  <ol class="breadcrumb breadCrumbStyle">
    <li><a href="/">Home</a></li>
    <li><a href="/phones">Phones</a></li>
  </ol>



</div>
  <h1 class="centerText">Phones</h1>


<div class="row thumbnailContainer" id ="mainThumbnail">
  <div class="col-sm-4 col-md-3 phonePageLeftImage">
    <div class="thumbnail">
      <img src="@routes.Assets.versioned("images/skyPhone6.png")"/>
      <p class="centerText">Sky Phone 6 - <span class="price">£100.00</span></p>
      <div class="caption productCaption">
        <button type="button" class="btn decItem" id="dec1" itemNumber="1"><span class="glyphicon glyphicon-minus-sign red"></span></button>
        <input type="text" class="quantityWidth centerText" id="quantityItem1" value ="0">
        <button type="button" class="btn incItem" id = "inc1" itemNumber="1"><span class="glyphicon glyphicon-plus-sign green"></span></button>
      </div>
      <div>
        <button type="button" class="btn btn-success addToBasketButton" id = "addToBasket1" itemNumber="1" itemType="phone" unitPrice="100" imagePath="@routes.Assets.versioned("images/skyPhone6-small.png")">Add To Basket</button>
    </div>
  </div>
</div>

<div class="col-sm-4 col-md-3 phonePageRightImage">
  <div class="thumbnail">
    <img src="@routes.Assets.versioned("images/skyPhone5.png")"/>
    <p class="centerText">Sky Phone 5 - <span class="price">£75.00</span></p>
    <div class="caption productCaption">
      <button type="button" class="btn decItem" id="dec2" itemNumber="2"><span class="glyphicon glyphicon-minus-sign red"></span></button>
      <input type="text" class="quantityWidth centerText" id="quantityItem2" value ="0">
      <button type="button" class="btn incItem" id = "inc2" itemNumber="2"><span class="glyphicon glyphicon-plus-sign green"></span></button>
    </div>
    <div>
      <button type="button" class="btn btn-success addToBasketButton" id = "addToBasket2" itemNumber="2" itemType="phone" unitPrice = "75" imagePath = "@routes.Assets.versioned("images/skyPhone5-small.png")">Add To Basket</button>
  </div>
</div>
</div>


</div>

}
