@(products: List[Stock])

@main("List of all products pages.") {

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron headline-img">
  <div class="container">
    <h1>Hello, world!</h1>
    <p><a class="btn btn-primary btn-lg" href="/products/iphone6" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <table class="table table-condensed">
    <tr>
        <th>Stock ID</th>
        <th>Category ID</th>
        <th>Name</th>
        <th>Total Stock</th>
        <th>Unit Price</th>
    </tr>
@for(product <- products){
    <tr>
        <td>@product.stock_id</td>
        <td>@product.category_id</td>
        <td>@product.name</td>
        <td>@product.total_stock</td>
        <td>@product.unit_price</td>
    </tr>
}
</table>

<!--
<form action="addProduct" method="post">
    <input type="text" name="stock_id" placeholder="Stock ID">
    <input type="text" name="category_id" placeholder="Category ID">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="total_stock" placeholder="Total Stock">
    <input type="text" name="unit_price" placeholder="Price">
</form>
-->

</div>

}
