@(products: String)

@main("List of all products pages.") {
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
  </ol>



<!-- Main jumbotron for a primary marketing message or call to action
<div class="jumbotron headline-img">
  <div class="container">
    <p>@products</p>
    <p><a class="btn btn-primary btn-lg" href="/products/iphone6" role="button">Learn more &raquo;</a></p>
  </div>
<div id = "productsContainer">
  <div id = "filterDiv">

  </div>
glyphicon glyphicon-plus-sign
</div>-->
</div>
  <h1 class="centerText"> T-Shirts</h1>


<div class="row" id ="mainThumbnail">
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="@routes.Assets.versioned("images/mensTshirt.png")"/>
      <p class="centerText">Mens T-Shirt</p>
      <div class="caption productCaption">
        <button type="button" class="btn removeItem" id="dec-1"><span class="glyphicon glyphicon-minus-sign red"></span></button>
        <input type="text" class="quantityWidth" id="quantityItem1" value ="0">
        <button type="button" class="btn addItem" id = "inc-1"><span class="glyphicon glyphicon-plus-sign green"></span></button>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="@routes.Assets.versioned("images/womensTshirt.png")"/>
      <p class="centerText">Womans T-Shirt</p>
      <div class="caption productCaption">
        <button type="button" class="btn removeItem" id="dec-2"><span class="glyphicon glyphicon-minus-sign red"></span></button>
        <input type="text" class="quantityWidth" id="quantityItem2" value ="0">
        <button type="button" class="btn addItem" id = "inc-2"><span class="glyphicon glyphicon-plus-sign green"></span></button>
      </div>
    </div>
  </div>
</div>

}
