@(products: String)

@main("List of all products pages.") {
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/products">T-Shirts</a></li>
  </ol>



<!-- Main jumbotron for a primary marketing message or call to action
<div class="jumbotron headline-img">
  <div class="container">
    <p>@products</p>
    <p><a class="btn btn-primary btn-lg" href="/products/iphone6" role="button">Learn more &raquo;</a></p>
  </div>
<div id = "productsContainer">
  <div id = "filterDiv">

  </div>
glyphicon glyphicon-plus-sign
</div>-->
</div>
  <h1 class="centerText"> T-Shirts</h1>


<div class="row" id ="mainThumbnail">
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img id="tshirt-1" src="@routes.Assets.versioned("images/mensTshirt.png")"/>
      <p class="centerText">Mens T-Shirt - <span class="price">£10.00</span></p>
      <div class="caption productCaption">
        <button type="button" class="btn decItem" id="dec1" itemNumber="1"><span class="glyphicon glyphicon-minus-sign red"></span></button>
        <input type="text" class="quantityWidth centerText" id="quantityItem1" value ="0">
        <button type="button" class="btn incItem" id = "inc1" itemNumber="1"><span class="glyphicon glyphicon-plus-sign green"></span></button>
      </div>
      <div>
        <button type="button" class="btn btn-success addToBasketButton" id = "addToBasket1" itemNumber="1" itemType="tshirt" unitPrice="10" imagePath = "@routes.Assets.versioned("images/mensTshirt-small.png")">Add To Basket</button>
    </div>
  </div>
</div>

<div class="col-sm-4 col-md-3">
  <div class="thumbnail">
    <img id="tshirt-2" src="@routes.Assets.versioned("images/womensTshirt.png")"/>
    <p class="centerText">Ladies T-Shirt - <span class="price">£10.00</span></p>
    <div class="caption productCaption">
      <button itemType="button" class="btn decItem" id="dec2" itemNumber="2"><span class="glyphicon glyphicon-minus-sign red"></span></button>
      <input type="text" class="quantityWidth centerText" id="quantityItem2" value ="0">
      <button type="button" class="btn incItem" id = "inc2" itemNumber="2"><span class="glyphicon glyphicon-plus-sign green"></span></button>
    </div>
    <div>
      <button type="button" class="btn btn-success addToBasketButton" id = "addToBasket2" itemNumber="2" itemType="tshirt" unitPrice="10" imagePath = "@routes.Assets.versioned("images/womensTshirt-small.png")">Add To Basket</button>
  </div>
</div>
</div>


</div>

}
